<h1>New Grade</h1>

<div class="bg-white shadow-md rounded-lg p-6">
  <%= render "form", grade: @grade, student: @student, show_unity: true %>
</div>

<div class="mt-4">
  <%= link_to "Back to grades", student_grades_path(@student), class: "text-blue-600 hover:text-blue-800" %>
</div>