<%= render "shared/person_index",
  records: @collaborators,
  title: "Collaborators",
  new_path: new_collaborator_path,
  new_label: "New collaborator",
  extra_headers: ["Type"],
  footer_partial: nil,
  footer_locals: {} do |collaborator| %>
  <td class="px-6 py-4 text-sm text-gray-900"><%= collaborator.type %></td>
<% end %>
